node_modules/
npm-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.local
.idea
.vscode
build/
dist/
.next/
.cache
.eslintcache
.parcel-cache
out/
